<% include header.ejs %>

<div class="container">

<%= __('AREA PRIVADA!!') %>
<form action="/profile" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar" />
</form>
</div>




<% include footer.ejs %>
